@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
}
/*Header*/
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #9d4055;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content
{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2
{
    color: #fff;
    font-size: 60px;
}
.banner .content p
{
    color: #fff;
    font-size: 18px;
}
.banner header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.banner header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:  1px;
}
.toggle
{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}
.toggle span
{
    position: relative;
    width: 36px;
    height: 4px;
    background: #fff;
    display: block;
    margin-bottom: 8px;
    transition: .5s;
}
.toggle span:nth-child(1)
{
    transform-origin: left;
}
.toggle span:nth-child(2)
{
    transform-origin: center;
}
.toggle span:nth-child(3)
{
    transform-origin: left;
}
.toggle.active span:nth-child(1)
{
    transform: rotate(45deg);
    left: 2px;
}
.toggle.active span:nth-child(2)
{
    transform: rotate(315deg);
    right: 2px;
}
.toggle.active span:nth-child(3)
{
    transform: scaleX(0);
}
#overlayid
{
    position: relative;
    top: 60%;
    right: 7%;
    width: 36px;
    height: 36px;
    transition: transform 0.5s;
}
#overlayid.active
{
    background: grey;
    transform: scale(100, 100);
}
.bottone
{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#0162c8, #55e7fc);
}
#menu-overlay
{
    position: fixed;
    top: 100px;
    left: 0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: 0.5s;
    transform: scale(0);
}
#menu-overlay.active
{
    transform: scale(1);
}
#menu-overlay ul
{
    position: relative;
}
#menu-overlay ul li
{
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}
#menu-overlay ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 3.5em;
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
#menu-overlay ul li a:before
{
    content:'';
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg,#0162c8, #55e7fc);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}
#menu-overlay ul li a:hover:before
{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}
@keyframes animate
{
    0%
    {
        width: 0%;
        height: 0%;
        opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
.about
{
    position: relative;
    background: grey;
    width: 100%;
    display: flex;
}
.about .contentBx
{
    background: grey;
    padding: 100px;
    width: 50%;
}
.heading
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx
{
    background: url('Images/Coibentato.jpg');
    width: 50%;
    background-size: cover;
    background-position: center;
}
.services
{
    background: #9d4055;
    padding: 100px;
    text-align: center;
}
.services .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    z-index: 1;
}
.services .container .serviceBx img
{
    max-width: 100px;
    opacity: 0.1;
    transition: 0.5s;
}
.services .container .serviceBx:hover img
{
    opacity: 1;
}
.services .container .serviceBx h2
{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
.bottone1
{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-radius: 40px;
    overflow: hidden;
    background: #162c3b;
}
#blur.active
{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #d3d3d3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}
#popup.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup1
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #d3d3d3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}
#popup1.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#popup2
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #d3d3d3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}
#popup2.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#ImgSlider
{
        height: auto;
        width: 100%;
        max-width: 720px;
}
.products
{
    background: grey;
    max-width: 100%;
    padding: 100px 100px 50px 100px;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
}
.products .heading
{
    position: relative;
    text-align: center;
}
.products .text
{
    padding: 50px;
}
.products .contentBx
{
    max-width: 800px;
}
.products .imgBx
{
    max-width: 250px;
}
.products .imgBx img
{
    max-width: 100%;
}
a {
    color: inherit;
  }
  
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color);
    color: white;
  }
  
  .card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
 .products .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
 .products .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
 .products .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .products .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .products .info {
      display: block;
      text-align: center;
    }
    .products .info h1 {
      margin: 0;
    }
  }
.faq
{
    position: relative;
    padding: 100px 100px 50px 100px;
    background: #9d4055;
    text-align: center;
}
.faq .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.faq .container .contentBx
{
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    margin-top: 40px;
}
.faq .container .contentBx p
 {
     font-style: italic;
 }
 .faq .container .contentBx h3
 {
    width: 100%;
    text-align: initial;
    font-weight: 500;
 }
 .faq .bottone1
 {
     position: absolute;
     right: 70px;
     bottom: 40px;  
 }
 .contacts
 {
     position: relative;
     background: grey;
     padding: 30px 100px 100px 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .contacts .text 
 {
     text-align: justify;
 }
 .contacts .heading
 {
     text-align: center;
 }
 .contacts .align-contacts
 {
     max-width: 50%;
     text-align: center;
 }
 .contacts .form-contacts
 {
     max-width: 50%;
     text-align: center;
 }
 form
 {
     margin-top: 50px;
     transition: all 4s ease-in-out;
 }
 .form-control
 {
     width: 600px;
     background: #fff;
     border: none;
     outline: none;
     border-bottom: 1px solid gray;
     color: #9d4055;
     font-size: 18px;
     margin-bottom: 16px; 
 }
 input
 {
     height: 45px;
 }
 form .submit
 {
    background: #162c3b;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 20px;
    border-radius: 40px;
 }
 form .submit:hover
 {
     background-color: black;
     cursor: pointer;
 }
 section .info
 {
     position: relative;
     margin: 40px 0px;
 }
 section .info li
 {
     position: relative;
     list-style: none;
     display: flex;
     margin: 20px 0;
     cursor: pointer;
     align-items: flex-start;
 }
 section .info li span:nth-child(1)
 {
    width: 30px;
    min-width: 30px;
 }
 section .info li span:nth-child(1) img
 {
     max-width: 100%;
     filter: invert(1);
     opacity: 0.5;
 }
 section .info li span:nth-child(2)
 {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
 }
 section .info li span:nth-child(1) img,
 section .info li span:nth-child(2)
 {
     opacity: 1;
 }
 .container-info
 {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
    margin-right: 50px;
 }
 .footer
 {
     background: #162c3b;
     padding: 20px 100px;
     display: flex;
     justify-content: space-between;
     align-items:  center;
 }
 .footer ul
 {
     display: flex;
     justify-content: center;
     align-items:  center;
 }
 .footer ul li
 {
    list-style: none;
 }
 .footer ul li a
 {
     text-decoration: none;
     display: inline-block;
     margin: 0 10px;
 }
 .footer ul li a img
 {
     filter: invert(1);
     max-width: 20px;
 }
 .faq-page
 {
     position: relative;
     padding: 100px;
     width: 100%;
     background: gray;
     text-align: center;
     justify-content: center;
 }
 .faq-page .container
 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
 }
 .faq-page .container-accordion
 {
     width: 100%;
     max-width: 80rem;
     max-height: 100vh;
     margin: 0 auto;
     padding: 0 1.5rem;
 }
 .faq-page .container-accordion .accordion-item
 {
    background-color: #fff;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
 }
 .faq-page .container-accordion .accordion-link
 {
     font-size: 1.6rem;
     color: black;
     text-decoration: none;
     background-color: #fff;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem 0;
 }
 .faq-page .container-accordion .accordion-link i
 {
     color: #e7d5ff;
     padding: .5rem;
 }
 .faq-page .container-accordion .accordion-link .ion-md-remove
 {
     display: none;
 }
 .answer
 {
     max-height: 0;
     overflow: hidden;
     position: relative;
     transition: max-height 650ms;
 }
 .answer::before
 {
     content: "";
     position: absolute;
     width: .6rem;
     height: 90%;
     background-color: #162c3b;
     top: 50%;
     left: 0;
     transform: translateY(-50%); 
 }
 .answer p
 {
     font-size: 1.4rem;
     color: #000;
    padding: 2rem;
 }
 .accordion-item:target .answer
 {
     max-height: 20rem;
 }
 .accordion-item:target .accordion-link .ion-md-add
 {
     display: none;
 }
 .accordion-item:target .accordion-link .ion-md-remove
 {
     display: block;
 }
 .contacts-faq-page
 {
    position: relative;
    background: #9d4055;
    padding: 30px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 @media( max-width: 991px)
 {
     .banner
     {
         padding: 50px;
     }
     .banner header
     {
         padding: 20px 50px;
     }
     .banner .content h2
     {
         font-size: 36px;
     }
     .banner .content p
     {
         font-size: 16px;
     }
     .about
     {
         flex-direction: column;
     }
     .about .contentBx
     {
         width: 100%;
         padding: 50px;
         min-height: 400px;
         text-align: center;
     }
     .about .imgBx
     {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
     }
     .services
     {
         padding: 50px;
     }
     .services .container
     {
         justify-content: center;
         margin-top: 20px;
     }
     .services .container .serviceBx
     {
         margin: 20px;
         width: 300px;
         height: 350px;
     }
     .bottone
     .products
     {
         padding: 50px;
         padding-top: 300px;
         justify-content: center;
         flex-direction: column;
     }
     .products .imgBx
     {
        margin-top: 40px;
        max-width: 250px;
     }
     .faq
     {
         padding: 50px;
     }
     .faq .contentBx
     {
         padding: 60px 40px;
         max-width: 550px;
         margin-bottom: 40px;
     }
     .faq .contentBx:last-child
     {
         margin-bottom: 0px;
     }
     .contacts
     {
         padding: 50px;
     }
     .footer
     {
         padding: 20px 50px;
         flex-direction: column-reverse;
         text-align: center;
     }
     .footer ul
     {
         margin-bottom: 20px;
     }
 }
 @media screen and(min-width: 320px)
 {

 }
 @media screen and(min-width: 480px)
 {

 }
 @media screen and(min-width: 768px)
 {
    .toggle
    {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
    }
 }
 @media screen and(min-width: 1024px)
 {

 }
